h1{
    color:#333333;
    text-shadow: 2;
}

p{
    color:#666666;
}

h2{
    color:#4285f4
}

.portfolio-container{
    border-radius: 30px;
    background-color: #ffffff;
    text-align: center;
    max-width: 800px;
    width:80%;
    padding : 40px;
}


.background{
    height:100vh;
    display:flex;
    background-color: #4285f4;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right, #4285f4, #1a408b, #428591)
}

body{
    margin:0px;
    padding:0px;
    font-family: "Segoe UI";
}

.buttons{
    display:flex;
    justify-content: center;
    gap: 15px;
}

button{
    background-color: #4285f4;
    border-radius: 3px;
    padding:10px 25px;
    border:none;
    color:#ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);;
}



/* 
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    background-image: linear-gradient(to right, #4285f4, #1a408b, #428591);
    background-color: #4285f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-image: linear-gradient(to right, #cccccc, #f0f0f0, #cccccc);
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 10.2);
    padding: 40px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #333333;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

p {
    color: #666666;
}

.about-me,
.projects {
    margin-bottom: 30px;
}

h2 {
    color: #4285f4;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.skills {
    margin-bottom: 30px;
}

.skill-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    background-color: #4285f4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: none;
}

.education {
    margin-bottom: 30px;
}

.contact {
    margin-bottom: 30px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-icons a {
    color: #4285f4;
    font-size: 36px;
} */